{% extends "_base.html" %} {% block title %}Simple Cryptography Tool{% endblock
%} {% block head %}
<meta
  name="description"
  content="A Simple Cryptography Tool for Hashing SHA-256, SHA-512, SHA3-256 and SHA3-512, Encrypt/Decrypt Text, Base64 Encode/Decode, Salt, Password Hashing."
/>
{% endblock%} {% block body %}
<h3>Simple Cryptography Tool</h3>
<details>
  <summary><strong>Hash</strong></summary>
  {% include "home/hash.html" %}
</details>
<details>
  <summary><strong>Encrypt/Decrypt</strong></summary>
  {% include "home/encrypt_decrypt.html" %}
</details>
<details>
  <summary><strong>Base64</strong></summary>
  {% include "home/base64.html" %}
</details>
<details>
  <summary><strong>Salt</strong></summary>
  {% include "home/salt.html" %}
</details>
<details>
  <summary><strong>Password Hash</strong></summary>
  {% include "home/pass_hash.html" %}
</details>
<details>
  <summary><strong>Password Hash Verifier</strong></summary>
  {% include "home/pass_hash_verify.html" %}
</details>
<script src="/scripts/copy_clear.js"></script>
{% endblock %}
