body {
  padding: 5px;
  font-family: 'Roboto', 'Nirmala UI', sans-serif;
}

.copy_btn::after {
  content: '📋';
  cursor: pointer;
}

.clear_btn::after {
  content: '❌';
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
}
